
<div class="container">
	<div class="page-header">
		<h1>Contact</h1>
    <p></p>
		<p>If you have any problems in using RWCap,<br/>
      If you find a bug of RWCap,<br/>
      If you have a good idea to improve RWCap,<br/>
      If you are interested in capacitance extraction and randow work algorithm,<br/>
      If you want to join us, <br/>
      Please let us know.</p>
		<p>Supervisor: <strong>Dr. Wenjian Yu</strong>: yu-wj at tsinghua dot edu dot cn</p>
    <p>Main developer: <strong>Chao Zhang</strong>: eric.3zc at gmail dot com</p>
	</div>	
</div>
