
<div class="container">
	<div class="row" ng-controller="DocumentCtrl" scroll-spy>
		<div class="col-md-3">
			<ul class="nav nav-tabs nav-stacked">
				<li ng-repeat="d in docs" spy="{{d.id}}"><a>{{d.title}}</a></li>
			</ul>
			<script>
				$("ul.nav.nav-tabs.nav-stacked").affix();
			</script>
		</div>
		<div class="col-md-9">
			<div class="row" id="docs">
				<div class="page-header" ng-repeat="d in docs" id="{{d.id}}" spied>
					<h1>{{d.title}}</h1>
					<p ng-if="d.lead" class="lead">{{d.lead}}<br/></p>
					<div ng-include="templates(d.id)">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
