
<div class="container">
	<div class="page-header">
		<h1>Examples</h1>
		<p class="lead">Get start to know RWCap from here.</p>
	</div>
	
	<div class="page-header">
		<h3>Case 1.</h3>
		<p>This case only contains a unit cube named cube. We will extract its capacitance.</p>
		<p>Download the RWCap-solver and the case files (<a href="#/download">here</a>) and unzip them.</p>
		<p>Open the input file, it looks like this:</p>
		<pre><code class="xml" load-text="file/cases/cube.cap3d"></code></pre>
		<p>Run it with <code class="base">rwcap-solver/rwcap -f cases/cube.cap3d -p 0.01</code>
		to get the capacitance with 1-&sigma; error &le; 1%.</p>
	</div>
	
</div>
