
<div class="container">
	<div class="jumbotron">
		<h1>RWCap</h1>
		<p>
      The RWCap is a parallel program suitable for extracting the capacitances among 3-D rectilinear-shaped conductors.
      The algorithm inside is the floating random walk (FRW) algorithm.
      The RWCap is free of discretization error, and suitable for the capacitance extraction of large-scale Manhattan VLSI layout.
		</p>
		<p><a class="btn btn-primary btn-lg" role="button" href="#/document">Learn more &raquo;</a></p>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h2>Examples</h2>
			<p>Get start to know RWCap by checking out some simple examples. They are simple and comprehensive.</p>
			<p><a class="btn btn-default" role="button" href="#/examples">View examples &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Document</h2>
			<p>Having problems using RWCap? Check out our document on how to use it. Or refer the papers for the algorithms implemented in this software. </p>
			<p><a class="btn btn-default" role="button" href="#/document">Read document &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>TechGFT</h2>
			<p>
        Besides a "RWCap-solver", RWCap also includes a tool called "TechGFT", which is a Matlab program.
        It generates the multi-dielectric surface Green's function table for multi-layered VLSI process technology.
      </p>
			<p><a class="btn btn-default" role="button" href="#/examples" ng-click="scrollto('case3', 300)">View details &raquo;</a></p>
	 </div>
	</div>
</div>
